spring:
  application:
    name: rag-branching
  ai:
    chat:
      observations:
        log-completion: true
        log-prompt: true
    ollama:
      init:
        pull-model-strategy: when_missing
      chat:
        options:
          model: granite3.3:2b
          num-ctx: 4096
      embedding:
        options:
          model: granite-embedding:278m
    vectorstore:
      observations:
        log-query-response: true
      pgvector:
        initialize-schema: true
        dimensions: 768
        index-type: hnsw
  threads:
    virtual:
      enabled: true

logging:
  level:
    org.springframework.ai.rag: debug

management:
  endpoints:
    web:
      exposure:
        include: "*"

arconia:
  otel:
    metrics:
      exporter:
        interval: 5s
